* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  padding: 50px 0;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Roboto, Arial, sans-serif;
  background-image: linear-gradient(45deg, orange, green);
  background-color: #B9FFF6;
}

@media (max-width: 400px) {
  body {
    padding: 10px 0;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  min-width: 320px;
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 5px;
    max-width: 95%;
  }
}

.time-and-date, .add-purchases-and-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-and-date, .add-purchases-and-list {
  width: 100%;
}

.time-and-date {
  margin-bottom: 50px;
  color: #FFF;
  font-weight: 700;
}

@media (max-width: 800px) {
  .time-and-date {
    margin-bottom: 35px;
  }
}

.time, .date {
  text-align: center;
}

.time {
  margin-bottom: 10px;
  font-size: 2.1rem;
}

.date {
  font-size: 3rem;
}

@media (max-width: 800px) {
  .date {
    font-size: 2.5rem;
  }
}

.add-purchases-block {
  margin-bottom: 50px;
}

.heder-for-form, .header-for-purchases-list {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .heder-for-form, .header-for-purchases-list {
    font-size: 1.8rem;
  }
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 1000px) {
  .form-block {
    width: 100%;
  }
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .form-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-input-data-block {
  margin-bottom: 20px;
}

.label-title {
  width: 20%;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 800px) {
  .label-title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
}

.select-block, .input-and-button {
  width: 70%;
}

@media (max-width: 800px) {
  .select-block, .input-and-button {
    width: 100%;
    text-align: center;
  }
}

.categories-list-select, .purchas-input {
  padding: 10px;
  width: 70%;
  font-size: 1.2rem;
  word-wrap: break-word;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.categories-list-select:hover, .purchas-input:hover {
  background-color: #FFCD7D;
  cursor: pointer;
}

@media (max-width: 800px) {
  .categories-list-select, .purchas-input {
    width: 80%;
  }
}

.option-item {
  padding: 5px;
}

.option-item:hover {
  cursor: pointer;
}

.purchas-input {
  border: none;
  outline: none;
}

.purchas-input:hover {
  cursor: text;
}

.button-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn-add {
  padding: 10px;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: #EAB88A;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-add:hover {
  background-color: #FFCD7D;
}

.btn-add:disabled {
  cursor: default;
}

.purchases-list-block {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

@media (max-width: 1000px) {
  .purchases-list-block {
    width: 100%;
  }
}

.purchases-categories-list {
  border-radius: 10px;
}

.purchases-categories-list, .purchases-list-by-category {
  width: 100%;
  background-color: #91FFE7;
}

.purchases-list-by-category {
  padding: 10px;
}

.purchases-category, .purchas {
  list-style: none;
}

.purchases-category:first-child h3 {
  border-radius: 10px 10px 0 0;
}

.purchases-category:last-child .purchases-list-by-category {
  border-radius: 0 0 10px 10px;
}

.purchases-category-header {
  padding: 10px;
  font-size: 1.3rem;
  background-color: #FFDA37;
}

.purchas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
}

.purchas-name {
  width: 80%;
  font-size: 1.2rem;
}

.addition-actions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  width: 25%;
  max-width: 120px;
}

@media (max-width: 400px) {
  .addition-actions-block {
    width: 35%;
  }
}

.check-complete {
  height: 20px;
  width: 20px;
}

@media (max-width: 400px) {
  .check-complete {
    height: 15px;
    width: 15px;
  }
}

.btn-edit, .btn-delete {
  height: 25px;
  width: 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-edit:hover, .btn-delete:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 400px) {
  .btn-edit, .btn-delete {
    height: 20px;
    width: 20px;
  }
}

/*.btn-edit:hover{
  transform:translateX(-10px);
}

.btn-delete:hover{
  transform: rotate(180deg);
}*/
.insider-image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.dangerous-text {
  color: #FF0000;
  font-size: 1.2rem;
  font-weight: 700;
}

.text-info {
  padding: 50px 10px;
  width: 100%;
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  background-color: #8CA9FF;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */