*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html{
  font-size: 16px;
}

body{
  height:100vh;
  width:100vw;
  font-family: Roboto, Arial, sans-serif;
  background-image: linear-gradient(45deg,orange, green);
  background-color: #B9FFF6;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  width:80%;
  min-width:320px;
}

.time-and-date, .add-purchases-and-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.time-and-date, .add-purchases-and-list{
  width:100%;
}

.time-and-date{
  margin-bottom: 80px;
  color:#FFF;
  font-weight: 700;
}

.time, .date{
text-align: center;
}

.time{
  margin-bottom: 10px;
  font-size: 2.1rem;
}

.date{
  font-size: 3rem;
}

.add-purchases-block{
  margin-bottom: 50px;
}

.heder-for-form, .header-for-purchases-list{
  margin-bottom: 30px;
  color:#FFF;
  font-size: 2rem;
  text-align: center;
}

.form-block{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  width:100%;
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 20px;

  &:last-child{
    margin-bottom: 0;
  }
}

.label-title{
  width:20%;
  color:#FFF;
  font-size: 1.5rem;
  font-weight: 700;
}

.select-block, .input-and-button{
  width:70%;
}

.categories-list-select, .purchas-input{
  padding:10px;
  width:70%;
  font-size: 1.2rem;
  word-wrap: break-word;
  transition: all 1s;

  &:hover{
    background-color: #FFCD7D;
    cursor:pointer;
  }
}

.option-item{
  padding:5px;
  &:hover{
    cursor: pointer;
  }
}

.purchas-input{
  margin-right:20px;
  border:none;
  outline:none;

  &:hover{
    cursor:text;
  }
}

.btn{
  border:none;
  background-color: transparent;
  cursor:pointer;
  outline:none;
}

.btn-add{
  padding:10px;
  color:#FFF;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: #EAB88A;
  transition: all 1s;

  &:hover{
    background-color: #FFCD7D;
  }
}

.purchases-list-block{
  margin:0 auto;
  width:80%;
}

.purchases-categories-list, .purchases-list-by-category{
  width:100%;
  background-color: #91FFE7;
}

.purchases-category, .purchas{
  list-style: none;
}

.purchases-category-header{
  padding:10px;
  font-size: 1.2rem;
  background-color: #FFDA37;
}

.purchas{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding:10px;
  background-color: #FFF;
}

.purchas-name{
  width:80%;
}

.addition-actions-block{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:0 10px;
  width:20%;
}

.btn-edit, .btn-delete{
  height:20px;
  width:20px;
}

.insider-image{
  height:100%;
  max-height: 100%;
  width:100%;
  max-width: 100%;
}